body{
    font-family: var(--font-title);
    font-size: 16px;
    height: 3300px;
}
#menutop{

    background:white;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0%;

    
}
#menutop #content{
    height: 70px;
    width: 100%;
    display: flex;

    justify-content: center;
    

}
#menutop ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
    justify-content: center;
    position: relative;
}
#menutop ul li{
    list-style: none;
    float: left;
}
#menutop ul li a{
    text-decoration: none;
    display: block;
    line-height: 80px;
    color: #a0112b;
    padding: 0px 20px 0px 10px;
}

#menutop ul li img{
    height: 80px;
    width: auto;
    max-width: 100%;

}
#banner img {
    background-color: #71122a;
    height: 0%;
    

}
#main #right{
    width: auto;
    height: 150px;
}   
#main #right h1{
    font-family: var(--font-title);
    color: #a0112b;
    text-align: center;
    font-size: 35px;
}
#boxbig {
    width: auto;
    height: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#boxbig #boxsmall{
    width: 900px;
    height: 280px;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.box1{
    width: 276px;
    height: 280px;
    text-align: center;
    flex: content;
}
.box2{
    width: 276px;
    height: 280px;
    text-align: center;
}
.box3{
    width: 276px;
    height: 280px;
    text-align: center;
}
#sanpham{
    height: auto;
    width: auto;
}

#san-pham-content{
    height: 250px;
    width: auto;
    display: flex;
    justify-content: center;
    
}
#san-pham-content1{
    height: 250px;
    width: 250px;
    justify-content: center;
    text-align: center;

    
}
#san-pham-content1 #content{
    width: 250px;
    height: 50px;
}
#san-pham-content2{
    height: 250px;
    width: 250px;
    justify-content: center;
    text-align: center;


}
#san-pham-content3{
    height: 250px;
    width: 250px;
    justify-content: center;
    text-align: center;


}
#san-pham2{
    height: 290px;
    width: auto;
}
#footer{
    height: 200px;
    width: auto;
    background-color: #71122a;
}
