body{
    font-family: var(--font-title);
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin:auto;
    padding: auto;
}

#banner img{
    height: auto;
    width: 1518px;
}
#main #right{
    width: auto;
    height: auto;
    margin: 40px 40px;
}   
#main #right h1{
    font-family: var(--font-title);
    color: #a0112b;
    text-align: center;
    font-size: 35px;
}
#boxbig {
    width: 1400;
    height: 250px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
}

#boxbig #boxsmall{
    width: auto;
    height: 280px;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.box1{
    width: 250px;
    height: auto;
    text-align: center;
    flex: content;
}
.box2{
    width: 276px;
    height: 280px;
    text-align: center;
}
.box3{
    width: 276px;
    height: 280px;
    text-align: center;
}
#sanpham1 #sanpham2{
    height: 70px;
    width: 100%;
}
#san-pham{
    height: 200px;
    width: 1300px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

#san-pham-content{
    height: 250px;
    width: 1300px;
    display: flex;
    justify-content: center;
}
#san-pham-content1{
    height: 250px;
    width: 250px;
    justify-content: center;
    text-align: center;

    
}
#san-pham-content2{
    height: 250px;
    width: 230px;
    justify-content: center;
    text-align: center;

}
#san-pham-content3{
    height: 250px;
    width: 250px;
    justify-content: center;
    text-align: center;
}
#san-pham2{
    height: 290px;
    width: 135px;
    display: flex;
    margin-left: 293px;
}
#san-pham2-content{
    height: 250px;
    width: 1300px;
    display: flex;
    justify-content: center;
}
#san-pham2-content1{
    height: 250px;
    width: 2530px;
    justify-content: center;
    text-align: center;
    padding-right: 55px;
    margin-left: 58px;

    
}
#san-pham2-content2{
    height: 250px;
    width: 230px;
    justify-content: center;
    text-align: center;
    padding-right: 90px;


}
#san-pham2-content3{
    height: 250px;
    width: 250px;
    justify-content: center;
    text-align: center;
    padding-right: 65px;

}
#san-pham2-content4{
    height: 250px;
    width: 250px;
    justify-content: center;
    text-align: center;
    
}
footer{
    position:relative;
    width: 1519px;
    height: 200px;
    padding: 20px 20px;
    background:#71122a;
    border:none;
    color: #fff;
}
footer .container{
    width: 100%;
    display:grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-gap:30px;
}
footer .container .sec h2{
    position:relative;
    color:#fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container .sec h2::before{
    content: '';
    position:absolute;
    bottom: -5px;
    left:0;
    width:50px;
    height: 2px;
    background:#fff ;
}
footer .container .sec p{
    color: #fff;}
.sci{
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-gap: 10px;
}
.sci li{
    list-style: none;
}
.sci li a{
    display:inline-block;
    width: 48px;
    height: 48px;
    background: #fff ;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover{
    background: #000;
}
.sci li a .fa
{
    color:#000;
    font-size:20px;
}
.store{
    position: relative;
}
.store li{
    list-style: none;
}
.store li a{
    color:#f7f7f7;
    text-decoration: none;
    margin-bottom: 10px;
    display:inline-block;
}
.info
{
    position:relative;
}
.info li
{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.info li span:nth-child(1)
{
    color:#fff;
    font-size:20px;
    padding-top: 5px;
}
.copyright{
    width: 1519px;
    height: 35px;
    background:#71122a;
    text-align: center;
    color:#fff;
    border:none;
    text-align: center;
}
.copyright a{
    text-decoration: none;
    color: #fff;
}
.copyright a:hover{
    color:#000;
    display: inline-block;
    font-weight: bold;
}
.clear{
    clear: both;
}
.store ul{
    font-size: 15px;    
}
.fix{
    line-height: 27px;
}
#bstext{
    position: relative;
    text-align: center;
    height: 130px;
    top: 160px;
}
