body{
    font-family: var(--font-title);
    font-size: 16px;
    width: 1855px;
    height: 5000px;
    margin: 0px  auto;
}
#menutop{

    background: white;
    height: 95px;
    width: 1855px;
}
#menutop #content{
    height: 70px;
    width: 1855px;
    display: flex;
    justify-content: center;

}
#banner{
    height: auto;
    width: auto;
}

#menutop ul{
    margin: 0px;
    padding: 0px;
}
#menutop ul li{
    list-style: none;
    float: left;
}
#menutop ul li a{
    text-decoration: none;
    display: block;
    line-height: 80px;
    color: #a0112b;
    padding: 0px 20px 0px 10px;
}

#menutop ul li img{
    height: 80px;
    width: auto;
    
}
#banner img{
    height: auto;
    width: auto;
}
#main #right{
    width: auto;
    height: 300px;
}
#main #right h1{
    font-family: var(--font-title);
    color: #a0112b;
    text-align: center;
    font-size: 35px;
    position:absolute;
   
}
#boxbig {
    width: 1855px;
    height: 280px;
    display: flex;
    justify-content: center;
    
}

#boxbig #boxsmall{
    width: 1140px;
    height: 280px;
    display: flex;
    justify-content: center;
}
.box1{
    width: 276px;
    height: 280px;
    text-align: center;

    

}
.box2{
    width: 276px;
    height: 280px;
    text-align: center;
}
.box3{
    width: 276px;
    height: 280px;
    text-align: center;
}

#sanpham{
    height: 400px;
    width: 1855px;
}
#sanpham1 #sanpham2{
    height: 70px;
    width: 1855px;
}
#san-pham{
    height: 200px;
    width: 1855px;
    display: flex;
    justify-content: center;
}
#san-pham-content{
    height: 250px;
    width: 1800px;
    display: flex;
    justify-content: center;
    
}
#san-pham-content1{
    height: 250px;
    width: 250px;
    justify-content: center;
    text-align: center;

    
}
#san-pham-content1 #content{
    width: 250px;
    height: 50px;
}
#san-pham-content2{
    height: 250px;
    width: 250px;
    justify-content: center;
    text-align: center;


}
#san-pham-content3{
    height: 250px;
    width: 250px;
    justify-content: center;
    text-align: center;


}

#san-pham2{
    height: 290px;
    width: 1855px;
}

